* { // Settings
   font-family: 'Raleway', sans-serif;
   margin: 0;
   padding: 0;
}
body {
   background-color: rgb(19, 94, 129);
   color: #fff;
}
span {display: inline-block;}
button {display: block;}
::placeholder {color: rgb(224, 224, 224);}

.app { // Style App.js
   margin: 4.5rem 0 8rem;

   h1 {
      text-align: center;
      margin-bottom: 50px;
   }
}